@model Identity.Models.Country

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Country</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>

<h4>Cities</h4>
@Html.ActionLink("Add", "AddCity", new { cId = Model.Id }) |
@Html.ActionLink("Remove", "RemoveCity", new { cId = Model.Id })
<div>
    @foreach (var item in Model.Cities)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => item.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Name)
            </dd>
        </dl>
    }

</div>